{% extends 'shop/base.html' %}
{% block title %}Корзина{% endblock %}

{% block content %}
{% for c in cart %}
<div class="container">
    <table class="table" style="margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img src="{{ c.product.image.url }}" class="img-thumbnail-group" alt="Фото товара" style="width: 9rem;"></th>
        <td>{{c.product.name}}</td>
        <td>{{c.product.price}}</td>
        <td>{{c.quantity}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="container">
  <a href="{% url 'cart:remove_from_cart' c.product.id %}" class="btn btn-success" onclick="alert('Вы удалили товар из корзины');">Удалить</a>
  <a href="{% url 'cart:add_to_cart' c.product.id %}" class="btn btn-success">Добавить</a>
</div>
{% empty %}
<div class="container">
  <h2 style="text-align: center; margin-top: 30px;">Ваша корзина пуста!</h2>
</div>
{% endfor %}
<div class="container">
  <a href="{% url 'cart:clear_cart' %}" class="btn btn-primary" style="margin-top: 3%">Очистить корзину!</a>
    <h5 style="padding-left: 86%">Итого: {{ cart.get_total_price }}</h5>
</div>
{% endblock %}