{% extends 'shop/base.html' %}

{% block content %}
{% for notebook in notebooks %}
<div class="conta" style="display: inline-block; padding-left: 60px;">
    <div class="card-group" style="width: 23.4rem; padding-top: 10px;" id="testapp">
        <img src="" class="card-img-top" alt="Card IMG">
        <div class="card-body">
            <h5 class="card-title">{{ notebook.name }}</h5>
            <p class="card-text">{{ notebook.price }} ₽</p>
            <a href="{% url 'products_urls:notebook_detail' notebook.slug %}" class="btn btn-primary">Подробнее</a>
            <a href="" class="btn btn-primary" onclick="alert('Товар добавлен в корзину');">В корзину</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}