{% extends 'shop/base.html' %}

{% block title %} {{ phone.name }} {% endblock %}

{% block content %}
<div class="container">
   <div class="product_img_desc_container">
      <div class="product_image_container" style="margin-top: 100px;">
        <img src="" class="img-thumbnail"  alt="product photo" style="width: 600px; height: 600px;">
      </div>
      <div class="product_desc">
            <h4 class="product_name">{{ phone.name | linebreaks}}</h4>
            <p>{{ phone.description | linebreaks}}</p>
            <h3 class="product_price">{{ phone.price }} руб.</h3>
          <a href="}" class="btn btn-primary" method="get" onclick="alert('Товар добавлен в корзину');">В корзину</a>
      </div>
    </div>
</div>
{% endblock %}